
*.xml
FractalBench/obj/x86/Debug/qualifiers.txt.intermediate
FractalBench/obj/x86/Debug/qualifiers.txt
FractalBench/obj/x86/Debug/ResourceHandlingTask.state
FractalBench/obj/x86/Debug/resources.resfiles
FractalBench/obj/x86/Debug/resources.resfiles.intermediate
FractalBench/obj/x86/Debug/XamlSaveStateFile.xml
FractalBench/obj/x86/Debug/qualifiers.txt.intermediate
FractalBench/obj/x86/Debug/qualifiers.txt
FractalBench/obj/x86/Debug/ResourceHandlingTask.state
FractalBench/obj/x86/Debug/resources.resfiles
FractalBench/obj/x86/Debug/resources.resfiles.intermediate
FractalBench/obj/x86/Debug/XamlSaveStateFile.xml
*.intermediate
